In [4]:
import pyodbc

In [5]:
price_data = [
    [ 2.00, 3.00, 1.00, 2.40, 100, '2019-2-1'],
    [ 3.00, 3.00, 5.00, 9.40, 300.00, '2020-1-2'],
    [ 4.00, 2.00, 1.00, 2.40, 200.00, '2021-1-3']
]

In [6]:
import pyodbc
for driver in pyodbc.drivers():
    print(driver)

SQL Server
SQL Server Native Client 11.0
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server

In [7]:
#define server name and database name
server = 'BALROG'
database = 'stock_database'

#define our connection string
connection = pyodbc.connect(DRIVER='{ODBC Driver 17 for SQL Server}',
    SERVER=server,
    DATABASE=database,
    UID="sa",
    PWD="Technobase2021",
    Trusted_Connection='no')

#create the connection cursor
cursor = connection.cursor()

#define our insert query
insert_query = '''INSERT INTO td_price_data(close_price, high_val, low_val, open_price, volume, day_value)
VALUES (?,?,?,?,?,?);'''

#Loop through each row in the matrix
for row in price_data:

    #define the values to insert
    values = (row[0],row[1],row[2],row[3],row[4],row[5])

    #Zinsert the data into the database
    cursor.execute(insert_query, values)

#commit the inserts
connection.commit()

#grab all the rows in our database table
cursor.execute('SELECT * FROM td_price_data')

#loop through the results
for row in cursor:
    print(row)
    print(type(row[0]))

#Close the connection and remove the server
cursor.close()
connection.close()

(2.0, 3.0, 1.0, 2.4, 100.0, datetime.date(2019, 2, 1))
<class 'float'>
(3.0, 3.0, 5.0, 9.4, 300.0, datetime.date(2020, 1, 2))
<class 'float'>
(4.0, 2.0, 1.0, 2.4, 200.0, datetime.date(2021, 1, 3))
<class 'float'>
(2.0, 3.0, 1.0, 2.4, 100.0, datetime.date(2019, 2, 1))
<class 'float'>
(3.0, 3.0, 5.0, 9.4, 300.0, datetime.date(2020, 1, 2))
<class 'float'>
(4.0, 2.0, 1.0, 2.4, 200.0, datetime.date(2021, 1, 3))
<class 'float'>
(2.0, 3.0, 1.0, 2.4, 100.0, datetime.date(2019, 2, 1))
<class 'float'>
(3.0, 3.0, 5.0, 9.4, 300.0, datetime.date(2020, 1, 2))
<class 'float'>
(4.0, 2.0, 1.0, 2.4, 200.0, datetime.date(2021, 1, 3))
<class 'float'>